-f https://download.pytorch.org/whl/torch_stable.html
certifi
charset-normalizer
click
colorama
commandlines
cycler
filetype
Flask
fonttools
hsh
idna
imageio
itsdangerous
Jinja2
kiwisolver
llvmlite
MarkupSafe
matplotlib
networkx
numba
numpy
packaging
Pillow
PyMatting
pyparsing
python-dateutil
PyWavelets
requests
scikit-image
scipy
setuptools-scm
six
tifffile
tomli
tqdm
typing-extensions
urllib3
waitress
Werkzeug

